/* rem and em DO NOT depend on html font size in media queries: Instead 1 rem = 1 em  = 16px */

/* BELWO 1200px FIRST BREAK POITN*/

@media (max-width:1200px) {
    .low-cloud {
        position: absolute;
        left: 300px;
        bottom: 180px;
        width: 6.8rem;
    }
    .top-cloud {
        position: absolute;
        right: 300px;
        top: 63px;
        width: 6.8rem;
    }
    .mountain-img {
        width: 400px;
        height: 250px;
    }
    .imgStyle {
        width: 500px;
        height: 300px;
    }
    .project-text {
        text-align: justify;
        margin: 0px 190px 0 190px;
        font-size: 0.8rem;
    }
    .text-larger {
        font-size: 2.7rem;
    }
    .text-larger2{
        font-size: 2.7rem;
        margin-bottom: 25px;
        margin-top:90px;
    }
    .p-size {
        font-size: 1rem;
    }
    h1{
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1.3rem;
        margin:40px;
    }
    h3 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.9rem;
    }
    .links-style2{
        font-size: 0.95rem;

    }
    .links-style{
        font-size: 0.95rem;
    }
    hr{
        margin:60px auto;
    }
    .arrow-style2{
        margin: 45px;
    }
    .card{
        margin:17px 110px 17px 110px;
        border-radius: 10px;
        padding: 10px 0px 30px 0px;
        color:aliceblue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .logo{
        height:70px;
        width: 70px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:55px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 395px;
    }
}

@media (max-width:1000px) {
    .low-cloud {
        position: absolute;
        left: 200px;
        bottom: 160px;
        width: 5.0rem;
    }
    .top-cloud {
        position: absolute;
        right: 250px;
        top: 63px;
        width: 5.0rem;
    }
    .mountain-img {
        width: 300px;
        height: 190px;
    }
    .imgStyle {
        width: 410px;
        height: 230px;
    }
    .project-text {
        font-size: 0.4rem;
        text-align: justify;
        margin: 0px 100px 0 100px;
    }
    .text-larger {
        font-size: 2.3rem;
    }
    .text-larger2{
        font-size: 2.3rem;
        margin-bottom: 25px;
        margin-top:80px;
    }
    .p-size {
        font-size: 0.7rem;
    }
    h1{
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.2rem;
        margin:30px;
    }
    h3 {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
    .links-style2{
        font-size: 0.85rem;

    }
    .links-style{
        font-size: 0.85rem;
    }
    hr{
        margin:50px auto;
    }
    .arrow-style2{
        margin: 40px;
    }
    .card{
        margin:16px 100px 16px 100px;
        border-radius: 10px;
        padding: 10px 0px 30px 0px;
        color:aliceblue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .logo{
        height:65px;
        width: 65px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:50px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 300px;
    }
}
@media (max-width:850px){
    .logo{
        height:63px;
        width: 63px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:46px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 250px;
    }

}
@media (max-width:750px) {
    .low-cloud {
        position: absolute;
        left: 150px;
        bottom: 120px;
        width: 4.7rem;
    }
    .top-cloud {
        position: absolute;
        right: 190px;
        top: 63px;
        width: 4.7rem;
    }
    .mountain-img {
        width: 240px;
        height: 150px;
    }
    .imgStyle {
        width: 330px;
        height: 190px;
    }
    .project-text {
        font-size: 0.35rem;
        text-align: justify;
        margin: 0px 90px 0 90px;
    }
    .text-larger {
        font-size: 2.1rem;
    }
    .text-larger2{
        font-size: 2.1rem;
        margin-bottom: 25px;
        margin-top:70px;
    }
    .p-size {
        font-size: 0.75rem;
    }
    h1{
        font-size: 1.1rem;
    }
    h2 {
        font-size: 1.0rem;
        margin:25px;
    }
    h3 {
        font-size: 0.75rem;
    }
    p {
        font-size: 0.75rem;
    }
    hr{
        margin:45px auto;
    }
    .arrow-style2{
        margin: 35px;
    }
    .card{
        margin:15px 80px 15px 80px;
        border-radius: 10px;
        padding: 10px 0px 30px 0px;
        color:aliceblue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    } 
    .logo{
        height:60px;
        width: 60px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:45px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 200px;
    }
}
@media (max-width:650px) {
    .low-cloud {
        position: absolute;
        left: 120px;
        bottom: 100px;
        width: 4.3rem;
    }
    .top-cloud {
        position: absolute;
        right: 120px;
        top: 55px;
        width: 4.3rem;
    }
    .mountain-img {
        width: 210px;
        height: 130px;
    }
    .imgStyle {
        width: 290px;
        height: 165px;
    }
    .arrow-style2{
        margin: 30px;
    }
    .card{
        margin:13px 60px 13px 60px;
        border-radius: 10px;
        padding: 10px 0px 30px 0px;
        color:aliceblue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    } 
    .project-text {
        font-size: 0.32rem;
        text-align: justify;
        margin: 0px 30px 0 30px;
    }
    .text-larger {
        font-size: 2.0rem;
        /* margin:70px */
    }
    .text-larger2{
        font-size: 2.0rem;
        margin-bottom: 25px;
        margin-top:60px;
    }
    .p-size {
        font-size: 0.70rem;
    }
    h1{
        font-size: 0.95rem;
    }
    h2 {
        font-size: 0.95rem;
        margin:22px;
    }
    h3 {
        font-size: 0.71rem;
    }
    p {
        font-size: 0.71rem;
    }
    hr{
        margin:40px auto;
    }
    .links-style2{
        font-size: 0.70rem;
        gap: 10px;

    }
    .links-style{
        font-size: 0.70rem;
        gap: 10px;
    }
    .logo{
        height:55px;
        width: 55px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:40px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 150px;
    }
}
@media (max-width:450px){
    .logo{
        height:50px;
        width: 50px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:35px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 80px;
    }
}
@media (max-width:400px){
    .low-cloud {
        position: absolute;
        left: 60px;
        bottom: 95px;
        width: 3.9rem;
    }
    .top-cloud {
        position: absolute;
        right: 75px;
        top: 60px;
        width: 3.9rem;
    }
    .mountain-img {
        width: 200px;
        height: 125px;
    }
    .imgStyle {
        width: 260px;
        height: 170px;
        margin:30px 0px 0px 0px;
    }
    .arrow-style2{
        margin: 20px;
    }
    .card{
        margin:10px 25px 10px 25px;
        border-radius: 10px;
        padding: 0px 0px 10px 0px;
        color:aliceblue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    } 
    .project-text {
        font-size: 0.30rem;
        text-align: justify;
        margin: 0px 30px 0 30px;
    }
    .text-larger {
        font-size: 1.8rem;
        margin:70px 0px 10px 0px;
    }
    .text-larger2{
        font-size: 1.9rem;
        margin-bottom: 20px;
        margin-top:50px;
    }
    .p-size {
        font-size: 0.70rem;
    }
    h1{
        font-size: 0.95rem;
    }
    h2 {
        font-size: 0.95rem;
        margin:22px;
    }
    h3 {
        font-size: 0.71rem;
    }
    p {
        font-size: 0.71rem;

    }
    hr{
        margin:30px auto;
    }
    .links-style2{
        font-size: 0.60rem;
        gap: 8px;
    }
    .links-style{
        font-size: 0.60rem;
        gap: 8px;
    }
    .skill-row{
        width:54%;
        margin: 10px auto 10px auto;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:30px;
    }
    .logo{
        height:47px;
        width: 47px;
        border-radius: 50%;
    }
    .logo-flex{
        display: flex;
        flex-direction: row;
        gap:33px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 71px;
    }
}